/* testCSS.css */


@font-face {
	font-family: trolltype;
	src:url("https://trolltype.mspa.sudrien.net/trolltype.ttf");
}

::selection {
	background:#8bc34a;
	color:#fff;
}

body {
	background-image:url("http://cdn.atomix.vg/wp-content/uploads/2015/02/he-man.jpg");
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;
	background-color:red;
	
	font-family:"Comic Sans MS", sans-serif;
	text-shadow:5px 2px 4px gray;
}

#snake {
	font-family:trolltype;
}

ul {
	list-style-image:url("badcarp.png");
	list-style-position:inside;
}

li {
	display:inline-block;
}

li::before {
	content:url("badcarp.png");
}

table {
	background-color:olive;
}

header {
	padding:20px;
	border:5px inset gray;
	border-radius:20px 20px 0 0;
	
	text-align:center;
	color:white;
	background:linear-gradient(green,black);
}

nav {
	padding:2px;
	border:5px inset gray;
	
	color:white;
	background:linear-gradient(black,olive);
}

footer {
	padding:20px;
	border:5px inset gray;
	border-radius:0 0 20px 20px;
	
	text-align:center;
	color:white;
	background-color:green;
}